body {
	font-family: sans-serif;
	font-size: 16px;
}

/*Jumbotron*/
.jumbotron {
	background-image: url(admin/assets/img/me.jpg);
	background-size: cover;
	height: 500px;
	width: 100%;
	color: white;
}

.jumbotron .display-4 {
	margin-top: 60px;
}

.jumbotron p {
	font-size: 30px;
}

.jumbotron hr {
	border-color: white;
	width: 400px;
	border-width: 3px;
}
/*/Akhir Jumbotron/*/

/*/Navbar/*/
.navbar {
	margin-top: -32px;
}

.navbar .navbar-nav .nav-link {
	color: white;
}

.navbar .navbar-nav .nav-link:hover {
	color: orange;
}

.navbar .navbar-brand  {
	font-size: 30px;
}
/*/Akhir Navbar/*/


/*/Home/*/
.judul {
	margin-bottom: 120px;
	color: violet;
}

.card-img:hover {
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);	
}

/*/Akhir Home/*/

h3.produk-title {
    height: 100px;
}
h1.display-4 {
	color: orange;
}
p.lead {
	color: violet;

}